*{
	padding: 0;
	margin: 0;
	border: 0;
	font-family: sans-serif;
}
header{
	background: #783dbd;
	height: 80px;
	padding: 10px 0;
	position: relative;
}
.margenes{
	width: 80%;
	margin: auto;
}
.margenes > figure{
	float: left;
}
figure + nav{
	float: right;
	position: relative;
	top: 10px;
}
nav li{
	display: inline-block;
	margin: 5px;
	padding: 10px;
	border-radius: 7px;
}
nav li > a{
	color: white;
	text-decoration: none;
}
nav li:last-child{
	background: #f2af00;
}
.margenes + .franjas{
	clear: both;
	position: absolute;
	bottom: 0;
}
.margenes + .franjas div{
	width: 288px;
	height: 8px;
	float: left;
}
.margenes + .franjas div:first-child{
	background: #f2af00;
}
.margenes + .franjas div:nth-child(2){
	background: #e43e4e;
}
.margenes + .franjas div:nth-child(3){
	background: #b5226c;
}
.margenes + .franjas div:nth-child(4){
	background: #552749;
}